#picAnswer {
    width: 300px;

}

#body {
    background-color: red;
}
#glass{
font-family: 'Pacifico', cursive;

}
#paper{
    font-family: 'Pacifico', cursive;

}

#book{
    font-family: 'Pacifico', cursive;

}
img {
    width:400px;
}